@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

:root{
	--color-amarillo: #f7c328;
	--color-naranja: #fc931c;
	--color-negro: #232322;
}
*,
*::before,
*::after{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
.fondo-blanco {
	max-width: 100%;
	background-color: #fff;
}

.fondo-gris {
	max-width: 100%;
	background-color: #f0f0f0;
}

.h1{
	color: var(--color-naranja);
}

h1 {
	color: var(--color-naranja);
}

.blog-post__info{
	margin-left: 40px;
	padding: 10px;
}

.container-c{
		background: url("../img//contact.jpg") no-repeat center;
		background-size: cover;
		padding: 100px 40px;
		text-align: center;
		color: #fff;
		font-weight: bold;
}
.contac-email i{
		font-size: 35px;
}

.ser{
	color: var(--color-naranja);
}

#contact p {
	padding: 0 25%;
}

#page-title li {
	font-size: 20px;
}

#contact h1 {
	color: #fff;
}

.titulo-2 {
	color: var(--color-amarillo);
	font-family: 'Quicksand', sans-serif;
	font-size: 27px;
	padding: 5% 0;
}

#varios-ser p, 
#varios-serv p {
	font-size: 16px
}
.section{
	padding: 2% 5%;
}
strong {
	color: var(--color-amarillo);
	font-size: 23px
}
#navbar {
	background-color: var(--color-naranja);
	font-size: 16px;
}


@font-face {	
	font-family: 'Quicksand-Bool';
	src: url("../font/Quicksand-Bool.ttf") format('TrueType');
} 

body {
	font-family: 'Quicksand', sans-serif;;
	font-size: 20px;
	color: var(--color-negro);
	line-height: 1.8;
	width: 100%
	height: 100vh;
	
}
.contacto{
    border: 1px solid #CED5D7;
    border-radius: 6px;
    padding: 45px 45px 20px;
    margin-top: 50px;
    background-color: white;
    box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
}
.contacto label{
    display: block; 
    font-weight: bold;
}
.contacto div{
    margin-bottom: 15px;
}
.contacto input[type='text'], .contacto textarea{
    padding: 7px 6px;
    width: 294px; /* una longitud definida */
    border: 1px solid #CED5D7;
    resize: none; /* esta propiedad es para que el textarea no sea redimensionable */
    box-shadow:0 0 0 3px #EEF5F7;
    margin: 5px 0;
}
.contacto input[type='text']:focus, .contacto textarea:focus{
    outline: none; /* reset especifico para Chrome/Safari */
    box-shadow:0 0 0 3px #dde9ec;
}
.contacto input[type='submit']{
    border: 1px solid #CED5D7;
    box-shadow:0 0 0 3px #EEF5F7;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 0px white;
 
    background: #e4f1f6; /* fallback para navegadores que no soporten degradados */
    background: -moz-linear-gradient(top, #e4f1f6 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #e4f1f6 0%,#cfe6ef 100%);
}
.contacto input[type='submit']:hover{
    background: #edfcff;
    background: -moz-linear-gradient(top, #edfcff 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #edfcff 0%,#cfe6ef 100%);
}
.contacto input[type='submit']:active{
    background: #cfe6ef;
    background: -moz-linear-gradient(top, #cfe6ef 0%, #edfcff 100%);
    background: -webkit-linear-gradient(top, #cfe6ef 0%,#edfcff 100%);
}

header{
	padding: 3% 0 0 0;
}



.banner{
	width: 100%;
	max-height: 400px;
}
.see{
	background-color: #f7f7f7;
	text-align: center;

}

.see img{
	width: 350px;
	height: 300px;
}
#sec{
	width: 28%;
	display: inline-block;
	padding: 10px;
}
#hero {
	background-image: url("../img/index-foto-fondo.JPG");
	background-position: center;
	background-size: cover;
	text-align: center;
}

#hero h1 {
	color: var(--color-naranja);
	font-size: 60px;
	text-shadow: 5px 2px 13px #232322;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Berkshire Swash', cursive;
	
}
.section{
	padding: 5% 0;
}

footer {
	background-color: var(--color-negro)
	
}

.pie {
	padding: 1% 0;
} 

#foot p {
	color: #fff;
	font-size: 10px;
	text-align: center;
}

#redes-foot {
	background-color: var(--color-naranja)
}

.circulo{	
	width: 60px;
	height: 60px;
	line-height: 60px;
	border-radius: 100%;
	background-color: var(--color-amarillo);
	display: block;
	margin: auto;
	color: #fff;
	font-size: 27px;
	text-align: center;
}

#img{
	width: 300px;
	height: 350px;
}

.blog-post{
	width: 100%;
	max-width: 98rem;
	padding: 5rem;
	background-color: #fff;
	box-shadow: : 0 1.4rem 8rem rgba(0,0,0,.2);
	display: flex;
	align-items: center;
	border-radius: .8rem;

}

.blog-post__img{
	min-width: 35rem;
	max-width: 35rem;
	height: 30rem;
	transform: translateX(-8rem);
	position: relative;
	margin-left: 50px;
}
.blog-post__img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	border-radius: .8rem;
}
.blog-post__img::before{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(to right, rgba(79.172.254. .8),
										  rgba(0,242,254, .8));
	box-shadow: .5rem .5rem 3rem 1px rgba(0,0,0,.05);
	border-radius: .8rem;
}
.blog-post__title{
	font-size: 2.5 rem;
	margin: 1.5rem 0 2rem;
	color: var(--color-naranja);
}

.blog-post__text{
	margin-bottom: 3rem;
	font-size: 1.4rem;
	color: rgba(0,0,0,.7);
}
.blog-post_cta{
	display: inline-block;
	padding: .8rem 1.5rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: .8rem;
	color: #fff;
	background-image: linear-gradient(to right, #fc931c 0%, #f7c328 100%);
	border-radius: .4rem;
	text-decoration: none;
}
.blog-post_cta:hover{
	background-image: linear-gradient(to right, #f7c328 0%, #fc931c 100%);
	color: gray;
}
@media screen and (max-width: 1068px){
	.blog-post{
		max-width: 80rem;
	}

	.blog-post__img{
		min-width: 30rem;
		max-width: 30rem;
		padding: 10px;
	}
}
@media screen and (max-width: 868px){
	.blog-post{
		padding: 2.5rem;
		flex-direction: column;
	}
	.blogp-post__img{
		min-width: 100%;
		max-width: 100%;
		transform: translate(0, -8rem);

	}
}
@media screen and (max-width: 768px){
	.blog-post,{
		padding: 2.5rem;
		flex-direction: column;
	}
	.blogp-post__img{
		min-width: 100%;
		max-width: 100%;
		transform: translate(0, -8rem);
	}
}

.blog-porta{
	width: 100%;
	max-width: 98rem;
	padding: 5rem;
	box-shadow: : 0 1.4rem 8rem rgba(0,0,0,.2);
	display: flex;
	align-items: center;
	border-radius: .8rem;

}
.container-p{
	max-width: 100%;
	background-color: #f0f0f0;
	margin-left: 40px;
}
.blog-post__info{
	margin-left: 40px;
	padding: 10px;
}

.container-c{
		background: url("../img//contact.jpg") no-repeat center;
		background-size: cover;
		padding: 100px 40px;
		text-align: center;
		color: #fff;
		font-weight: bold;
}
.contac{
		
}

.ser{
	color: var(--color-naranja);
}
#page-title li {
	font-size: 20px;
}
#page-title a{
	text-decoration: none;
}

.container-2{
	display: block;
 	padding: 10px;
}
.blog-post_img{
	min-width: 10rem;
	max-width: 10rem;
	height: 15rem;
	transform: translateX(-1rem);
	position: relative;
	margin-left: 50px;
}
.blog-post_img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	display:block;
	border-radius: .8rem;
}
.blog-post_text{
	margin-bottom: 2rem;
	font-size: 1.4rem;
	color: rgba(0,0,0,.7);
	font
}
.blog-post_text  {
	text-align: justify;
}
.Services{
	width: 33%;
	display: inline-block;
	padding: 30px;
}
strong{
	text-align: center;
	font-size: 15px;
}
#check{
	font-size: 50px;
	color: #53c3c9;
}
#see{
	background-color: #f7f7f7;
	text-align: center;

}

#see img{
	width: 100%;
	height: 100%;
}
#sec{
	width: 20%;
	display: inline-block;
	padding: 10px;
}


@media screen and (max-width: 1068px){
	.container-porta{
		max-width: 80rem;
	}

	.blog-portafolio{
		min-width: 30rem;
		max-width: 30rem;
	}
	#sec{
		display: inline-block;
	}
}
@media screen and (max-width: 868px){
	.blog-porta{
		padding: 2.5rem;
		flex-direction: column;
	}
	.blog-portafolio{
		min-width: 100%;
		max-width: 100%;
		transform: translate(0, -1rem);
	}
	.video{
		margin-top: 100px;
		min-width: 100%;
		max-width: 100%;

}
#sec{
		padding: 2.5rem;
		flex-direction: column;
		min-width: 100%;
		max-width: 100%;
		transform: translate(0, -9rem);
	}
		.blog-post__img{
		min-width: 100%;
		max-width: 100%;
		transform: translate(0, -8rem);
	}
		.blog-post__title{
		padding: 4.5rem;
		flex-direction: column;
	}

@media screen and (max-width: 768px){
	.blog-porta, .blog-porta,{
		padding: 2.5rem;
		flex-direction: column;
	}
	.blog-portafolio{
		min-width: 100%;
		max-width: 100%;
		transform: translate(0, -1rem);
	}
	.video{
		margin-top: 100px;
		min-width: 100%;
		max-width: 100%; 
	}
	#sec{
		padding: 2.5rem;
		flex-direction: column;
		min-width: 100%;
		max-width: 100%;
		transform: translate(0, -1rem);
	}
	.blog-post__img{
		min-width: 100%;
		max-width: 100%;
		transform: translate(0, -1rem);
	}
	.blog-post__title{
		padding: 4.5rem;
		flex-direction: column;
	}
}


	